---
layout: default
---
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    "HTML-CSS": { linebreaks: { automatic: true } },
    SVG: { linebreaks: { automatic: true } }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_HTML">
</script>

<!-- Times New Roman 설정 -->
<style>
  /* 전체적인 폰트 스타일 */
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.8; /* 가독성을 위한 줄 간격 */
    color: #333; /* 본문 색상 */
    background-color: #f9f9f9; /* 배경 색상 */
  }
  p {
    text-align: justify; /* 본문은 양쪽 정렬로 정돈된 느낌 */
    margin-bottom: 0px; /* 문단 하단 여백 */
  }
  h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; /* 제목은 굵게 */
    text-align: center; /* 제목 중앙 정렬 */
    margin-bottom: 5px; /* 제목 아래 여백 */
    font-size:x-large;
  }
  
  h4 {
      font-family: 'Times New Roman', Times, serif;
      text-align: center; /* 제목 중앙 정렬 */
      margin-bottom: 3px; /* 제목 아래 여백 */
      font-size:large;
    
  }
  
  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
/* 제목 스타일 */
  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; /* 제목은 굵게 */
    text-align: center; /* 제목 중앙 정렬 */
    margin-bottom: 10px; /* 제목 아래 여백 */
  }
  /* 본문 스타일 */
  .post-content {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify; /* 양쪽 정렬로 가독성 향상 */
    margin: 20px auto; /* 중앙 정렬 및 여백 추가 */
    max-width: 800px; /* 본문 폭 제한 */

  }

  

  .card-body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }
</style>

<div class="row justify-content-center" id="blog-post-container">
  <div class="col-lg-10">
    <!-- 포스트 내용을 감싸는 post-content 클래스 -->
    <div class="post-content">
      {%- include blog_post_article.html -%}
    </div>
    {%- include blog_post_comments.html -%}
  </div>
</div>